.Sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  height: 40rem;
  min-width: 117px;
  background-color: #000000;
  position: relative;
  padding: 25% 0;
  margin-right: 3em;
  @media (max-width: 992px) {
    height: 65rem;
  }
  .SidebarItem {
    display: flex;
    background-color: #ffffff;
    color: #FF0000;
    border-radius: 10px;
    height: 64px;
    width: 64px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      background-color: #FF0000;
      color: #ffffff;
    }
  }
  .copiryght {
    position: absolute;
    width: max-content;
    top: 800px;
    font-size: 12px;
    color: #ffffff;
    transform: rotate(-90deg);
  }
}