.MacroNutrimentsWrapper {
  display: flex;
  flex-direction: column;
  gap: 3.5em;
  flex: 1;

  .MacroNutrimentsCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.0212);
    background-color: rgba(251, 251, 251, 1);
    height: 124px;
    border-radius: 10px;

    .IconWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;

      .MacroIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        border-radius: 5px;
      }
    }

    .MacroNutrimentsItemContent {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      flex: 1;

      .MacroNutrimentsItemTitle {
        margin: 0;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        color: #282D30;
      }

      .MacroNutrimentsItemValue {
        margin: 0;
        font-size: 14px;
        color: #74798C;
      }
    }
  }

  @media (max-width: 1439px) {
    .MacroNutrimentsCard {
      gap: 1em;
      padding: 0 1em;

      .MacroNutrimentsItemTitle {
        font-size: 18px !important;
      }
    }
  }
}