.RadialChartCard {
  background-color: #FBFBFB;
  border-radius: 10px;
  height: 263px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}